doctype html
html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
    script(src='js/chartCreator.js' type='text/javascript')
    style.
      .bigimage {   
        background-image: url(images/PILLS.png);
        height: 100%; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
  body

    div.container-fluid
      div.bigimage
        div.jumbotron
          h1 Medication Dashboard
        div.bottom-left
          h3 Charted below are statistics for your perscriptions...
    div.charts(style="width: 50%;")
      canvas(name='chartA' id='chartA' width=400 height=400)
      canvas(name='chartB' id='chartB' width=400 height=400)
      canvas(name='chartC' id='chartC' width=400 height=400)
      canvas(name='chartD' id='chartD' width=400 height=400)
      script(type='text/javascript').
        createChart(document.getElementById('chartA').getContext('2d'), 'bar', '#{chartData}', "Medications", 1);
        createChart(document.getElementById('chartB').getContext('2d'), 'horizontalBar', '#{chartData}', "Medication Unit Type");
        createChart(document.getElementById('chartC').getContext('2d'), 'doughnut', '#{chartData}');
        createChart(document.getElementById('chartD').getContext('2d'), 'line', '#{chartData}');